<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <h3 class="text-center">Containers</h3>
      <div *ngFor="let container of sortedContainers" class="row container-style">
        <div class="col-md-6">
          <p> IMAGE: {{container.Image | slice:0:15}} </p>
          <p>
            <a [routerLink]="['.', container.Id]">ID: {{container.Id | slice:0:15}}</a>
          </p>
        </div>
        <div class="col-md-6">
          <div class="col-md-12">
            <p>STATUS: </p>
            <span class="badge badge-pill" [ngClass]="{'badge-active': isActive(container), 'badge-inactive': !isActive(container)}">
              {{isActive(container) ? 'Active' : 'Inactive'}}
            </span>
            <button type="button" class="btn btn-danger" [ngClass]="{'display-none': !isActive(container)}" (click)="stopContainer(container)">STOP</button>
            <button type="button" class="btn btn-success" [ngClass]="{'display-none': isActive(container)}" (click)="startContainer(container)">START</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>