.badge-active {
    background-color:green;
}
.badge-inactive {
    background-color: red;
}
.display-none {
    display: none;
}
.display-block {
    display: none;
}
.container-style {
    margin: 1%;
    border: 1px solid;
    border-radius: 10px;
    background-color: rgb(231, 236, 241);
    margin-bottom: 3%;
}
.btn {
    margin: 10px 0 10px 0;
}